[project]
name = "{{project_name}}"
dynamic = ["version"]
description = "{{project_description}}"
readme = "README.md"
authors = [{ name = "{{project_author}}" }]
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
  "pytest",
  "coverage"
]

[project.scripts]
{{project_name}} = "{{project_name}}:main"

[build-system]
requires = ["hatchling", "uv-dynamic-versioning"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "uv-dynamic-versioning"

[tool.coverage.report]
exclude_also = [
    "if __name__ == .__main__.:",
    "tests/**/*"
    ]
